<form enctype="multipart/form-data" method="post" id="form">
    <p>Имя</p>
    <input placeholder="name" name="name" type="text" >
    <p>Телефон</p>
    <input placeholder="number" name="number" type="text" >
    <p>Email</p>
    <input placeholder="example@mail.com" name="email" type="text" >
    <p>Прикрепить файлы</p>
    <input type="file" name="userfile[]" multiple id="userfile" class="w100" accept="image/*" >
    <p><input value="Отправить" type="submit"></p>
</form>