{% extends "_layout.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/resources/assets/css/example.css">
{% endblock %}

{% block title %}Example2 | run.project{% endblock %}

{% block content %}
	<h1>Example2.html.twig</h1>
	{% include('@components/mail.html.twig') %}
{% endblock %}